.container {

    display: flex;
    gap: 8rem;

    container-img {
        border-radius: 15px;
    }


    img {
        width: 450px;
        border-radius: 15px;
    }



    .about-me {
        line-height: 2.5rem;
    }


    @media (max-width: 1064px) {

        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .about-me {
            font-size: 20px;
        }


    }


    @media (max-width: 1331px) {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .about-me {
            font-size: 20px;
        }


    }





}