.container {

    display: flex;
    gap: 8rem;

    container-img {
        border-radius: 15px;
    }


    img {
        width: 450px;
        border-radius: 15px;
    }



    .about-me {
        line-height: 2.5rem;
    }




}