/* You can add global styles to this file, and also import other style files */

* {
    background-color: #13162A;
    font-family: Onest, system-ui, sans-serif;
    color: white;


    @media (max-width: 1330px) {

        margin-left: 0px;
        padding-left: 0px;

    }
}